* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

h1 {
  
  width: 800px;
  height: 295px;
  text-align: center;
  font-style: italic ;
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png);
  background-position: center;
}

main {
  margin-left: 400px;
  max-width: 960px;
  
  
}

form{
  width: 800px;
  background-color: darkgoldenrod;
  height: 200px;
  
}


label span {
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

input {
  padding: 15px;
}

button {
  padding: 4px;
}

div {
  
  margin-top: 30px;
  width: 800px;

  margin-left: 300px;
  
}

img {
  scale: 120%;
  align-items: center;
  
}